<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lytech.xvjialing.schoolmessagetool">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

        <!--bugly更新activity-->
        <activity
            android:name="com.tencent.bugly.beta.ui.BetaActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:theme="@android:style/Theme.Translucent" />


        <activity
            android:name=".ui.StudentMainActivity"
            android:label="@string/student_index_page" />
        <activity
            android:name=".ui.TeacherMainActivity"
            android:label="@string/teacher_index_page" />
        <activity android:name=".ui.StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.StudentLoginActivity"
            android:label="@string/student_login" />
        <activity
            android:name=".ui.TeacherLoginActivity"
            android:label="@string/teacher_login" />
        <activity
            android:name=".ui.TeacherRegisterActivity"
            android:label="@string/teacher_register" />
        <activity
            android:name=".ui.StudentRegisterActivity"
            android:label="@string/student_register" />
        <activity
            android:name=".ui.PublishNoticeActivity"
            android:label="@string/publish_notice" />
        <activity
            android:name=".ui.PublishWorkActivity"
            android:label="@string/publish_work" />
        <activity
            android:name=".ui.NoticeActivity"
            android:label="@string/notice" />
        <activity
            android:name=".ui.WorkActivity"
            android:label="@string/work" />
        <activity
            android:name=".ui.ClassScheduleActivity"
            android:label="@string/class_schedule" />
        <activity
            android:name=".ui.ScoreActivity"
            android:label="@string/score" />
        <activity
            android:name=".ui.NoticeDetailActivity"
            android:label="@string/notice_detail" />
        <activity android:name=".ui.WorkDetailActivity"></activity>
    </application>

</manifest>